
body {
	background-color: white;
	padding: 20px 0px 0px 30px;
	font-family: sans-serif;
	display: block;
	margin: 0 auto 0 auto;
}
h1 {
	font-size: 50px;
	font-weight: bold;
	margin: 0 auto 0 auto;
	background-color: white;
}
.box {
	width: 50px;
	height: 50px;
	margin: 0 auto 0 auto;
	background-color: #D6DBDF;
	padding: 30px 0px 0px 30px;
	float: left;
	font-size: 25px;
	font-weight: bold;
}
.question {
	clear: both;
}

.special {
	background-color: #FE5627;
	margin: 0 auto 0 auto;
}

h2 {
	clear: both;
	background-color: white;
	margin: 0 auto 0 auto;
	font-weight: bold;
}
p {
	clear: both;
	background-color: white;
	margin: 0 auto 0 auto;
}
.container {
	width: 600px;
	height: 80px;
	padding: 50px 0px 0px 50px;
	margin: 0 auto 0 auto;
	background-color: white;
}
span {
	font-style: italic;
}
a {
	background-color:white;
}
br {
	background-color: white;
}

